body{
    background: rgb(15, 25, 58);
}

h1{
    text-align:center;
    font-size:60px;
    color:white;
    font-family:Tahoma, sans-serif;
    font-weight: bold;
}

h3{
    text-align: center;
    font-size:25px;
    color:black;
    font-family:Tahoma, sans-serif;
    font-weight: bold;
}

.container{
    width:550px;
    height:260px;
    background: cornsilk;
    border-radius:20px;
    box-shadow: 1px 1px 11px black;
    margin:80px 400px;
}

.year-select, .month-select, .day-select{
    width:155px;
    height:50px;
    font-family:Tahoma, sans-serif;
    font-size:25px;
    font-weight: bold;
    text-align: center;
    border:none;
    border:3px solid black;
    margin:0px 10px;
}

.find-btn{
    text-align:center;
    font-family:Tahoma, sans-serif;
    font-size:25px;
    font-weight: bold;
    text-align: center;
    border:none;
    border:3px solid black;
    border-radius: 25px;
    margin:40px 207px;
    opacity:75%;
}

.find-btn:hover{
    opacity: 100%;
    cursor: pointer;
}

.find-btn:active{
    box-shadow: 1px 1px 11px black;
}

.output-area{
    text-align: center;
    font-size:35px;
    color:white;
    font-family:Tahoma, sans-serif;
    font-weight: bold;
}